table {
    border-collapse: collapse;
    font:bold;
}

tr {
    border: 5px double navy;
}

tr  td {
    font-family: sans-serif;    

}   

td {
    padding:7px;
}

span {
    font-size:40px;
    margin-top: 10px;
    display: block; 
    
}

p {
    font-size:30px;
    font-family: sans-serif;
    margin-bottom:10px;
}

#detail-image {

    float: left;
    margin-right: 20px;
}

#detail-heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    height: 10%;
    margin: auto;   
}

